*,
*:before,
*:after {
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.l-header {
    width: 100%;
    padding: 1em 8%;
    &__logo {
        font-size: 1.6em;
        font-weight: 700;
    }
}

.l-main {
    flex: 1;
    width: 100%;
}

.l-footer {
    width: 100%;
    padding: 2em 8%;
    text-align: center;
    background-color: gray;
    color: #ffffff;
}

.p-mv {
    padding: 2em 8%;
    text-align: center;
    &__title {
        font-size: 3em;
    }
}

.p-input {
    padding: 1em 8%;
    text-align: center;
    &__text-box {
        input {
            height: 2em;
        }
    }
    &__changed-url {
        display: inline-block;
        margin-right: 1em;
        padding: 0.2em 1em;
        font-size: 1.2em;
        background-color: lightgray;
    }
}
